@media (max-width: 1280px){
  
  .section-three {
    padding-left: 0;
    padding-right: 0.4rem;
  }

  // Section Five
  .dvg-in-numbers {
    .numbers {
      p {
        font-size: 1.1rem;
      }
    }
  }

  // Section Six
   .products-slider {
      
    .arrow-left {
      width: 80px;
    }

    .arrow-right {
      width: 80px;
    }

    .arrow-right-icon {
      margin-right: 0.5rem;
    }
   }
}

@media (max-width: 1024px){
  .nav-links {
    .link {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  // Section Five
  .section-five {
    .dvg-in-numbers {
      left: 5%;
    }

    .numbers {
      margin-left: 3rem;
      margin-right: 3rem;
      padding-bottom: 0;
      padding-right: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .section-eight {
    height: 60vh;

     .upper-footer {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

        .company-logo,
        .company-contact,
        .footer-navigation,
        .follow-us {
          margin-left: 2rem;
          margin-right: 2rem;
        }
     }

     .company-logo {
       #logo {
        padding-right: -0.5rem;
       }
     }

     .copyright {
      padding-left: 1rem;
     }
  }
}

@media (max-width: 912px){
  .nav-links {
    .link {
      p {
        display: none;
      }
    }
  }
  
  .showcase {
    img {
      height: 60vh;
    }

    .circles {
      .circle-1,
      .circle-2,
      .circle-3,
      .circle-4 {
        width: 25px;
        height: 25px;
      }
    }
  }

  .section-one {
    .left-side {
      img {
        width: 370px;
      }
    }
    
    .right-side {
      padding-right: 0.5rem;
      .about-text-title {
        margin-bottom: 0rem;
       }
  
       .about-text {
        margin-bottom: 3.3rem;
       }

       .bottom-line-grey {
        width: 400px;
       }
    }
  }

  .section-two {
    img {
      height: 40vh;
    }
  }

  .section-five {
    .dvg-in-numbers {
      .numbers {
        margin-right: 2rem;
      }
    }
  }

  .section-eight {
    height: 28vh;

      .copyright {
        p {
          font-size: 0.8rem;
        }
      }
  }
}

@media (min-width: 821px){
  .hamburger {
    display: none;
  }
}

@media (max-width: 820px){
  .nav-links {
    display: none;
  }
}