  // :root {
  //   --navbar-background: #D9D9D9;
  //   --languages-color: #333;
  //   --font-family: Roboto;
  // }
  $navbar-background: #D9D9D9;
  $languages-color: #333;
  $font-family: Roboto;
  $red-color: #BF0F0F;
  $grey-color: #C4C4C466;
  $light-grey-color: #f4f4f4;


  //  General styling  //////////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// Navbar /////////////////////////////////////////////
.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $navbar-background;
  padding-bottom: 0.8rem;
}

.logo-image {
  position: relative;
  margin-right: 1rem;

      #logo {
        width: 50px;
        height: 50px;
      }

      #logo-piece-1{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 45px;
        height: 20px;
      }
      #logo-piece-2{
        position: absolute;
        top: 40%;
        left: 5%;
        width: 45px;
        height: 20px;
      }
      #logo-piece-3{
        position: absolute;
        top: 55%;
        left: 8%;
        width: 30px;
        height: 20px;
      }
}

.logo {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-left: 2rem;
}

.logo-title {
  display: flex;
  flex-direction: column;
}

.logo {
  i {
    font-size: 3rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
  }
}

// hamburger menu /////////////////////////////////
.hamburger {
  width: 63px;
  height: 54px;
  border: 2px solid $red-color;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: 12rem;
  padding-top: 0.7rem;
  padding-left: 0.2rem;

    .ham-line {
      width: 50px;
      height: 4px;
      border-radius: 10px;
      background-color: $red-color;
    }

    .ham-line-1,
    .ham-line-2 {
      margin-bottom: 0.5rem;
    }

    .ham-line-1,
    .ham-line-3 {
      transition: transform 0.5s ease-in;
    }
}

// Active classes for hamburger
.hamburger.active {
  border: 1px solid $navbar-background;
  // padding-top: 1.8rem;
}

.ham-line-2.active {
   display: none;
}

.ham-line-1.active {
   transform: rotate(45deg);
    transform-origin: top left;
    // width: 45px;
    margin-left: 5px;
}
.ham-line-3.active {
  transform: rotate(-45deg);
  margin-top: 1rem;
  margin-right: 1rem;
  // width: 45px;
  // transform-origin: top left;
}

.ham-wrapper {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40vw;
  height: 0vh;
  background-color: $red-color;
  z-index: 1;
  opacity: 0.5;
  // display: none;
  transition: height 0.4s ease-in;
}

.hamburger-nav {
  position: absolute;
  top: 0%;
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  padding-top: 0.5rem;
  // display: none;
  opacity: 0;
  transition: opacity 0.4s ease-in;

    .ham-link {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
      color: #fff;
      border-bottom: 1px solid #fff;
      margin-bottom: 0.7rem;

        a {
          color: #fff;
        }
    }
}

// Active classes for ham nav
// .ham-wrapper.active,
// .hamburger-nav.active {
//   display: block;
// }
.ham-wrapper.active {
  height: 40vh;
}
.hamburger-nav.active {
  opacity: 1;
}

.languages {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-right: 2rem;
}

.languages {
  a {
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.8rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: $languages-color;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-links {
  .link {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #aab4be;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    text-align: center;
  }
}

.nav-links {
  .link {
    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: #000000;
      margin-bottom: 0.3rem;
      text-align: center;
    }
  }
}  

.nav-links {
  .link {
    p {
      font-size: 12px;
      font-weight: 400;
      color: #474747;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }
}  

.nav-links {
  #first-link {
    border-left: 1px solid #aab4be;
    padding-left: 1rem;
  }
} 

// Showcase  ///////////////////////////////////
.showcase {
  position: relative;
}

.showcase #chevron-left {
  position: absolute;
  color: $red-color;
  top: 40%;
  left: 4%;
  font-size: 3rem;
}

.showcase #chevron-right {
  position: absolute;
  color: $red-color;
  top: 40%;
  right: 4%;
  font-size: 3rem;
}

.showcase {
  img {
    width: 100%;
    height: 75vh;
    display: none;
    opacity: 0;
  }

  img.active {
    display: block;

   animation-name: animate-image;
   animation-direction: alternate-reverse;
   animation-timing-function: ease-in-out;
   animation-duration: 0.4s;
   animation-fill-mode: forwards;
  }
}

@keyframes animate-image {
  from {
    opacity: 1
  } to {
    opacity: 0;
  }
}

.showcase .circles {
  position: absolute;
  left: 45%;
  bottom: 5%;
  display: flex;
  flex-direction: row;
  }
  
  .circles .circle-1,
  .circles .circle-2,
  .circles .circle-3,
  .circles .circle-4 {
    width: 15px;
    height: 15px;
    border: 1px solid $red-color;
    border-radius: 50%;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  
  .circles .circle-1:hover,
  .circles .circle-2:hover,
  .circles .circle-3:hover,
  .circles .circle-4:hover,
  .showcase #chevron-left:hover,
  .showcase #chevron-right:hover {
    cursor: pointer;
  }
  
  .circles .circle-1.active,
  .circles .circle-2.active,
  .circles .circle-3.active,
  .circles .circle-4.active {
    background-color: $red-color;
  }

// Section One  //////////////////////////////////////////////////
.section-one {
  display: flex;
  flex-direction: row;
  background-color: $light-grey-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
    
    .left-side {
      width: 50vw;
      img {
        width: 90%;
        height: 504px;
      }
    }

    .right-side {
      display: flex;
      flex-direction: column;

       .dvg-company {
        margin-bottom: 1rem;
       }

       .bottom-line-red {
        width: 137px;
        height: 6px;
        background-color: $red-color;
        margin-bottom: 3rem;
       }

       .about-text-title {
        margin-bottom: 3rem;
       }

       .about-text {
        margin-bottom: 3.2rem;
       }

       .about-text p {
        margin-bottom: 0.5rem;
       }

       .bottom-line-grey {
         width: 524px;
         height: 3px;
         background-color: $grey-color;
         margin-bottom: 3rem;
       }

       .more-about-us-btn {
        width: 184px;
        color: #fff;
        padding: 0.6rem 0.7rem;
        border-radius: 3px;
        border: 1px solid #d86f6f;
        background-color: $red-color;
        font-size: 1rem;
       }
    }
}

// Section Two  ///////////////////////////////////////////////
.section-two {
  img {
    width: 100%;
    height: 70vh;
    padding-bottom: 2rem;
  }
}

// Section Three  /////////////////////////////////////////////
.section-three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3.5rem;
  padding-bottom: 6rem;
  
  img {
    width: 401px;
    height: 278px;
    margin-left: 0.5rem;
  }
}

// Section Four  //////////////////////////////////////////////////
.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

    h2 {
      margin-bottom: 1rem;
      color: #303030;
      font-size: 42px;
      font-weight: 700;
    }

    p {
      margin-bottom: 2rem;
      color: #474747;
      font-size: 1.8rem;
    }

    .bottom-line {
      width: 137px;
      height: 6px;
      background-color: $red-color;
    }
}

// Section Five ////////////////////////////////////////////////
.section-five {
  position: relative;
  background: url('../img/Rectangle\ 140.png') center center/cover;
  width: 100%;
  height: 345px;

    .dvg-in-numbers {
      position: absolute;
      top: 28%;
      left: 7%;
      display: flex;
      flex-direction: row;
    }

    .numbers {
      display: flex;
      flex-direction: column;
      color: #fff;
      align-items: center;
      justify-content: center;
      margin-left: 4rem;
      margin-right: 4rem;
      padding-right: 4rem;
      padding-top: 2rem;
      padding-bottom: 1rem;

        h3 {
          font-size: 2rem;
          font-weight: 900;
          padding-bottom: 0.5rem;
        }

        p {
          font-size: 1.2rem;
        }

        
    }
}

.numbers.border-right {
    border-right: 1px solid #cb3e3e;
}

// Section Six  /////////////////////////////////////////////
.section-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 3rem;
  background-color: #f4f4f4;
  position: relative;
  margin-bottom: 5rem;
     
     h3 {
      font-weight: 400;
      font-size: 1.8rem;
      color: #474747;
      margin-bottom: 3rem;
     }

     .bottom-line-grey {
      width: 40vw;
      height: 3px;
      background-color: $grey-color;
      margin-bottom: 3rem;
     }

     .our-products-text {
      text-align: center;
      font-weight: 400;
      font-size: 1rem;
      margin-bottom: 2rem;
        p {
          margin-bottom: 0.5rem;
        }
     }

     .products-slider {
       display: flex;
       flex-direction: row;
       z-index: 1;
     }

     .arrow-left {
      color: $red-color;
      position: absolute;
      top: 44%;
      left: 0%;
      z-index: 1;
      height: 337px;
      width: 100px;
      background-color: #f4f4f4;

        .arrow-left-icon {
          width: 35px;
          height: 35px;
          padding: 0.4rem 0.5rem;
          border: 1px solid $red-color;
          border-radius: 50%;
          margin-left: 2rem;
          margin-top: 8rem;
          color: $red-color;
        }
     }

     .arrow-right {
      color: $red-color;
      position: absolute;
      top: 44%;
      right: 0%;
      z-index: 1;
      height: 337px;
      width: 100px;
      background-color: #f4f4f4;

         .arrow-right-icon {
          width: 35px;
          height: 35px;
          padding: 0.4rem 0.5rem;
          border: 1px solid $red-color;
          border-radius: 50%;
          margin-left: 2rem;
          margin-top: 8.3rem;
          color: $red-color;
         }
     }

     .arrow-left-icon i:hover,
     .arrow-right-icon i:hover{
       cursor: pointer;
       color: #df8787
      }

     .products-images {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transform: translateX(-580px);
      transition: transform 1s ease-in;
      z-index: -1; 

        img {
          width: 232px;
          height: 333px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        #image-1 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-2 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-3 {
          position: relative;
            #upper-text {
              position: absolute;
              top: 65%;
              left: 14%;
            }
          
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-4 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-5 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }

     }

     .products-images-before {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transform: translateX(-561px);
      transition: transform 1s ease-in;
      z-index: -1;
      margin-right: 0.7rem; 

        img {
          width: 232px;
          height: 333px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }

        #image-1 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-2 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-3 {
          position: relative;
            #upper-text {
              position: absolute;
              top: 65%;
              left: 14%;
            }
          
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-4 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
        #image-5 {
          position: relative;
            p {
              position: absolute;
              top: 70%;
              left: 14%;
            }
            .bottom-line-red {
              position: absolute;
              top: 80%;
              left: 14%;
              width: 54px;
              height: 3px;
              background-color: $red-color;
            }
          }
     }
}

// Section Seven  //////////////////////////////////////////////

.section-seven {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;

    .title {
      text-align: center;
      margin-bottom: 2rem;
        h3 {
          font-weight: 400;
          font-size: 1.8rem;
        }
    }

    .bottom-line-grey {
      width: 40vw;
      height: 3px;
      background-color: $grey-color;
      margin-bottom: 4rem;
    }

    .logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;

        .logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-left: 5rem;
          margin-right: 5rem;
            img {
              width: 45px;
              height: 30px;
              margin-bottom: 1rem;
            }

            p {
              font-size: 1.2rem;
            }
        }
    }

    .all-brands-btn {
      background-color: $red-color;
      color: #fff;
      padding: 0.5rem 0.7rem;
      border-radius: 3px;
      border: 1px solid #d25757;
     }

     .all-brands-btn:hover {
      cursor: pointer;
     }
}

// Section Eight  ////////////////////////////////////////////
.section-eight {
  background: url('../img/footer-image.png') no-repeat center center/cover;
  width: 100%;
  height: 50vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  justify-content: center;
    .upper-footer {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.5rem;
      align-items: center;
      justify-content: center;
      overflow-y: hidden;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .company-logo {
      position: relative;

      #logo {
        width: 100px;
        height: 100px;
      }

      #logo-piece-1{
        position: absolute;
        top: 20%;
        left: 10%;
        width: 88px;
      }
      #logo-piece-2{
        position: absolute;
        top: 38%;
        left: 7%;
        width: 75px;
      }
      #logo-piece-3{
        position: absolute;
        top: 59%;
        left: 8%;
      }
    }
  
    .company-contact {
      display: flex;
      flex-direction: column;
    }

    .company-contact,
    .footer-navigation,
    .follow-us {
      border-left: 1px solid #fff;
      padding-left: 1rem;
    }

    .address,
    .phone,
    .email {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;

       i {
        margin-right: 0.7rem;
       }
    }


    .addres-text {
      display: flex;
      flex-direction: column;
    }

    .footer-navigation li a {
      color: #fff;
      margin-bottom: 1rem;
    }

    .footer-navigation li {
      margin-bottom: 0.5rem;
    }

    .company-logo,
    .company-contact,
    .footer-navigation,
    .follow-us {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    .company-contact {
      h2 {
        margin-bottom: 1.5rem;
      }
   }

   .follow-us {
    height: 180px;
    p {
      margin-bottom: 0.5rem;
    }

    .social-icons {
      i {
        margin-left: 0.4rem;
        margin-right: 0.5rem;
      }

      i:hover {
        cursor: pointer;
      }
    }
   }
  
   .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 3rem;
    background-color: #333;
    opacity: 0.7;
    overflow-y: hidden;

      p {
        overflow-y: hidden;
      }

       .with-bottom-line {
        border-bottom: 1px solid #fff;
       }

      .middle-paragraph {
        display: flex;
        flex-direction: row;
          p {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
      }
   }
}
